        /*Pagina principal - defecto*/
*{
    margin:0;
    padding: 0;
    justify-content: center;
}

        /*Menu Principal*/

header{
    display:flex;
    align-items: center;
    background-color: #FFD3DB;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    margin-left: 30px;
}

.nav-item {
    background-color:#FFEDF0;
    padding: 8px;
    border-radius: 25px;
    text-decoration: none;
    color: black;

}

        /*INDEX*/

#carouselExampleIndicators{
    width: 85%;
    margin: 0 auto;
}


.categorias-titulo{
background-color: #FFEDF0;
padding: 15px;
font-size: 40px;
}

#col-md-6{
    display: flex;
    justify-content:center;   
    border-right: solid #FFABBB;
    border-left: solid #FFABBB;
    width: 40%;
}

.categoria{
    display:flex;
    width: 450px;
    margin: 0 auto;
    padding: 0;
    border: 2px solid #FF8AA0;
    width: 90%;
}

@media  (max-width: 1400px) {
    .categoria{
        width: 90%;
    }
}


.mapa{
    width: 85%;
}

        /*Cards Productos*/

#titulo{
    background-color: #FFEDF0;
    padding: 15px;
}

body{
    background-color: #FFFBFC;
}
.btn{
    display: flex;
}

.card{
    width: 200px;
    margin: 30px 30px 15px 20px;
    background-color:white;
    border: solid #FF8AA0;
}

h1{
    font-size: 20px;
    text-align: center;
}


h5, h4{
    text-align: center;

}



p{
    text-align: center;
}

#oferta{
    background-color: #F4ACB7;
}

h6 {
    display: flex;
    justify-content: center;
    text-decoration: line-through;
}

.boton-oferta{
    position: relative;
    
}

/*Footer*/
footer{
    display:flex;
    background-color: #FFD3DB;
    justify-content: left;
    align-items: center;
    padding: 50px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    background-color: #FFD3DB;
    padding: 15px;
}

.footer-a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer div ul li{
    display: flex;
    margin: 3px
}


.col-md-6{
    display: flex;
    align-items: center;
}

.contacto-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Imagenes Banco, efectivo y tarjeta de credito*/


.banco, .efectivo, .credito{
    width: 100%;
}

.banner-medios-pago{
    width: 100%;
}

.p-efectivo{
    font-size: 20px;
}

/* Imagenes de Redes sociales - Whatsapp*/
.whatsapp{
    width: 55px;
    position: fixed;
    bottom: 60px;
    right: 50px;

}

/*Pagina productos*/

#titulo-pintura{
    background-color: #FFE5D9;
    padding: 6px;
}

.body-productos{
    background-color: #FFFCFA;
}

#card-productos{
    border: solid #FFB898
}

#boton-productos{
    background-color: #ED4B00;
}

#titulo-card-productos{
    background-color: #FFF5F0;
}